@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

@font-face {
  font-family: "Canela";
  src: url("./src/assets/fonts/canela/Canela-Regular-Trial.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Canela";
  src: url("./src/assets/fonts/canela/Canela-Medium-Trial.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Canela";
  src: url("./src/assets/fonts/canela/Canela-Bold-Trial.otf");
  font-style: normal;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
